* {
    margin: 0rem;       /*Removes default spacing*/
    padding: 0rem;      /*Removes default spacing*/
    font-family: sans-serif;
    box-sizing: border-box;     /*Makes sizing easier to understand*/
}

.wrapper {
  max-width: 600px;     /*Limit width*/
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);

}

h1, h3 {
    text-align: center;
    margin-bottom: 0.1em;
}

.todo-form {
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.todo-form input[type="text"] {
    width: 90%;
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.todo-list {
    list-style: circle;      /*because here is a UO-List = every symbol should look the same */
    list-style-position:;
}

.todo-item {
    align-items: center;
    justify-content: space-between; 
    padding: 0.4rem 0.5rem;
    border-bottom: 1px solid #ddd;
}

.edit-input { /*While Updating = Inputbox*/
    border: 1px solid red;
    width: 25em;
}

button {
    margin: 0.25em; /*gap bettwen*/
    padding: 0.2em 0.7em; /*how thick*/
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
}

.add-btn {
   display: block;
   margin: auto;
   margin-bottom: 1.5rem;
}

.add-btn:hover {
    background: #04AA6D ;
}

.save-btn:hover {
    background: #04AA6D;
}

.update-btn:hover {
    background: #008CBA;
}

.delete-btn:hover {
    background: #f44336;
}

.error-message {
    background-color: #e5a3a3;
    color: red;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    padding: 10px;
    max-width: 225px;
    display: flex;
    align-items: center;  /*Hauptachse (links-rechts)*/
    justify-content: center; /*Querachse (Oben-unten)*/
}