.wrapper {
  
}

.todo-form {

}

.todo-list {

}

.todo-item {

}

.edit-input {

}

button {
    background-color: bisque;
    color: green;
    border: solid;
    border-radius: 4px;
    padding: 2px 2px;
    cursor: progress;
    font-size: 12px;

}

.error-message {
    background-color: #e5a3a3;
    color: red;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    padding: 10px;
    max-width: 225px;
    display: flex;
    align-items: center;  /*Hauptachse (links-rechts)*/
    justify-content: center; /*Querachse (Oben-unten)*/
}